<IfModule mod_rewrite.c>
    RewriteEngine On

    # Define o diretório base (ajuda em ambientes Windows)
    RewriteBase /

    # Se o arquivo ou diretório existir, serve normalmente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Caso contrário, redireciona tudo para index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
