<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Repasse o header Authorization ANTES do redirecionamento
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]

    # Se o arquivo ou diretório existir, serve normalmente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Caso contrário, redireciona tudo para index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>